* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 500px;
    margin-bottom: 0px;
}

h1 {
    font-size: 42px;
    letter-spacing: 2px;
}

h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

p {
    opacity: 0.8;
    margin-bottom: 30px;
}

.social a {
    color: #fff;
    font-size: 28px;
    margin: 0 10px;
    transition: 0.3s;
}

.social a:hover {
    color: #00ffcc;
}

footer {
    text-align: center;
    font-size: 12px;
    opacity: 0.5;
    margin-top: auto;
    padding-bottom: 15px;
}